@model LinkInks.Models.Entities.VideoContent

@if (!String.IsNullOrEmpty(Model.Caption))
{
    <h2 class="videoTitleStyle">@(Model.Caption)</h2>
}

@{
    var linkLocation = Url.Content(Model.DisplayUri);
}

<video id="video_@(Model.ModuleId)" class="videoContentStyle" controls>
	<source src="@linkLocation" type="video/webm" />
	Your browser does not support HTML5 video
</video>
