<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://linkinks.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>waws-prod-bay-001.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>linkinks</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <UserName>$linkinks</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="LinkInks.Models.UniversityDbContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:v6d9gwxufq.database.windows.net;Initial Catalog=LinkInks;User ID=LinkInksAdmin@v6d9gwxufq;Password=Letmein2" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="LinkInks.Models.UniversityDbContext, LinkInks" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="ApplicationServices" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:v6d9gwxufq.database.windows.net,1433;Initial Catalog=aspnet;Integrated Security=False;User ID=LinkInksAdmin@v6d9gwxufq;Password=Letmein2;Connect Timeout=30;Encrypt=True" Name="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:v6d9gwxufq.database.windows.net,1433;Initial Catalog=aspnet;Integrated Security=False;User ID=LinkInksAdmin@v6d9gwxufq;Password=Letmein2;Connect Timeout=30;Encrypt=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ApplicationServices_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=tcp:v6d9gwxufq.database.windows.net,1433;Database=aspnet;User ID=LinkInksAdmin@v6d9gwxufq;Password=Letmein2;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="DataServices" Order="3" Enabled="False">
          <Destination Path="Data Source=tcp:v6d9gwxufq.database.windows.net;Initial Catalog=LinkInks;User ID=LinkInksAdmin@v6d9gwxufq;Password=Letmein2" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:v6d9gwxufq.database.windows.net,1433;Initial Catalog=LinkInks;Integrated Security=False;User ID=LinkInksAdmin@v6d9gwxufq;Password=Letmein2;Connect Timeout=30;Encrypt=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DataServices_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=tcp:v6d9gwxufq.database.windows.net,1433;Database=LinkInks;User ID=LinkInksAdmin@v6d9gwxufq;Password=Letmein2;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ApplicationServices-Web.config Connection String">
      <ParameterValue>Data Source=tcp:v6d9gwxufq.database.windows.net,1433;Initial Catalog=aspnet;Integrated Security=False;User ID=LinkInksAdmin@v6d9gwxufq;Password=Letmein2;Connect Timeout=30;Encrypt=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DataServices-Web.config Connection String">
      <ParameterValue>Data Source=tcp:v6d9gwxufq.database.windows.net;Initial Catalog=LinkInks;User ID=LinkInksAdmin@v6d9gwxufq;Password=Letmein2</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)LinkInks.Models.UniversityDbContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:v6d9gwxufq.database.windows.net;Initial Catalog=LinkInks;User ID=LinkInksAdmin@v6d9gwxufq;Password=Letmein2</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="LinkInks.Models.UniversityDbContext" />
  </ItemGroup>
</Project>