@model LinkInks.Models.Entities.Book

@{
    ViewBag.Title       = Model.Title + ": a LinkInks book";
    ViewBag.HideHeader  = true;
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this? All associated discussions will also be deleted.</h3>
<h3><b>Note:</b>This operation will take awhile, so please do not press the Back button until it completes.</h3>
<fieldset>
    <legend>Book</legend>

    <div class="display-label">Title</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" />
        @Html.Hidden("bookId", Model.BookId)
    </p>
}
